<div class="loginColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-6">
            <h2 class="font-bold">Welcome to </h2>
            <h3>Site Feasibility Application</h3>
            <h3>Client Response Portal</h3>
            <p>For technical issues please contact admin@epharmasolutions.com.</p>

            <p> For study related issues and questions please contact admin@client.com </p>

            <p>If you need additional assistance, please contact us at 1-800-562-4789.</p>
        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <form class="m-t" role="form" action="index.html">
                    <div class="form-group">
                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" [(ngModel)]="user.username">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" [(ngModel)]="user.password">
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b" (click)="login(user.username, user.password)">Login</button>
                </form>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Epharama Solutions Inc
        </div>
        <div class="col-md-6 text-right">
            <small>© 2014-2015</small>
        </div>
    </div>
</div>