<div class="wrapper wrapper-content clearfix">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Feature Flag</h2>
        </div>
    </div>
    <br/>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>FeatureFlag</th>
                        <th>Value</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let featureFlag of featureFlags" routerLink="/featureFlag">
                        <td>{{featureFlag.FeatureFlag}}</td>
                        <td>{{featureFlag.Value}}</td>
                        <td *ngIf="featureFlag.FeatureFlag == 'logger'">
                            <button *ngIf="featureFlag.Value=='log4net'" (click)="updateFeatureFlag(featureFlag.FeatureFlag, 'serilog')">serilog</button>
                            <button *ngIf="featureFlag.Value=='serilog'" (click)="updateFeatureFlag(featureFlag.FeatureFlag, 'log4net')">log4net</button>
                            <!--<input type="radio" [(ngModel)]="featureFlag.Value"  name="logger" value="log4net">log4net
                                   <input type="radio" [(ngModel)]="featureFlag.Value"  name="logger" value="serilog">serilog
                                    <button (click)="updateFeatureFlag(featureFlag.FeatureFlag, featureFlag.Value)">Update</button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>