<div class="wrapper wrapper-content clearfix">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Shared Reports</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <strong>Shared reports</strong>
                </li>
            </ol>
        </div>
    </div>
    <br/>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>SurveyId</th>
                        <th>ReportShareName</th>
                        <th>CreatedDateTime</th>
                        <th>Report details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let report of reports" routerLink="/siftReport" [queryParams]="{id: report.Id, surveyId: report.SurveyId}">
                        <td>{{report.Id}}</td>
                        <td>{{report.SurveyId}}</td>
                        <td>{{report.ReportShareName}}</td>
                        <td>{{report.CreatedDateTime}}</td>
                        <td>
                            <a (click)="gotoDetail(report.Id, report.SurveyId)"><i class="fa fa-search-plus fa-lg"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>