<div class="wrapper wrapper-content clearfix">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>SIFT Reports</h2>
            <ol class="breadcrumb">
                <li (click)="goBack()"><a>Shared reports</a></li>
                <li class="active">
                    <strong>SIFT</strong>
                </li>
            </ol>
        </div>
    </div>
    <br/>
    <div class="ibox-content">
        <tabs>
            <tab [tabTitle]="'Invitees'">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let column of reportDataInvitees.Columns">{{column}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of reportDataInvitees.Data">
                                <td *ngFor="let value of row">{{value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab tabTitle="Responses">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let column of reportDataResponses.Columns">{{column}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of reportDataResponses.Data">
                                <td *ngFor="let value of row">{{value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
        </tabs>
    </div>
</div>