<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs"> <strong class="font-bold">Example user</strong> </span>
                        <span class="text-muted text-xs block">Example <b class="caret"></b> </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('reports')}">
                <a [routerLink]="['/reports']"><i class="fa fa-desktop"></i> <span class="nav-label">Reports</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('featureFlag')}">
                <a [routerLink]="['/featureFlag']"><i class="fa fa-pencil"></i> <span class="nav-label">Feature Flag</span> </a>
            </li>
        </ul>

    </div>
</nav>